body{
    --p1: 50%;
    /* justify-content: center; */
    background-color: #FF69B4;
    /* display: flex;
    flex-wrap: wrap; */
    /* height: 100%; */
    background-image:
	linear-gradient(-45deg, transparent 80%, black 80%),
	linear-gradient(45deg, transparent 80%, black 80%),
	linear-gradient(-135deg, transparent 80%, black 80%),
	linear-gradient(135deg, transparent 80%, black 80%);
    
    background-size: 11rem 3rem;
    background-position: 2rem 0, 2rem 0, 0 0, 0 0;

    margin: 0;
    
}
#main{

    /*position: absolute;*/
    /* margin-left: 20%; */
    /* width: 100svw; */
    /* height: max(100%, 100svh); */
    min-height: 100svh;
    /* width: clamp(200px, 80%, 1090px); */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* justify-self: center; */
    

}
#titleDiv{

    font-family: 'cursive';
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    width: clamp(200px, 50%, 700px);
    justify-self: center;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;

    

}
#title{

    font-size: 3em;
    text-align: center;

}
#navDiv{
    
    text-align: center;
    font-family: 'cursive';
    font-size: 3em;
    /* width: 40%; */
    justify-self: center;


}
.navLink{

    display: block;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    padding-inline: 40px;

}
a:link{

    /*color: #B0E0E6;*/
    color: rgb(155, 70, 139);

}
a:hover{

    color: pink !important;
}
a:visited{

    color: #DA70D6;

}
#emailList{

    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    font-size: 2rem;

}
#emailList > p{

    margin: 10px;

}
#emailList > input{

    font-size: 1.25rem;
}
#emailInput{

    width: 90%;
    height: 90%;
    font-family: arial;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;



}
#signUpBtn{

    margin: 5px;
    background-color: lightpink;
    font-size: 1.25rem;
    border: 1px dashed black;
    border-radius: 10px;


}
#signUpBtn:hover{

    filter: brightness(111%);
}


.good{

    background-color: lightgreen;
    animation: fadein;
    animation-duration: 1s;
    position: fixed;
    left: 50%;
    bottom: 100px;
    padding: 10px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;

}
.bad{

    background-color: red;
    animation: fadein;
    animation-duration: 1s;
    position: fixed;
    left: 50%;
    bottom: 100px;
    padding: 10px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
}



@keyframes fadein{

    from {opacity: 0}

    to {opacity: 1}


}


#calendar_container{

    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    

}