body{

    background-color: hotpink;


}
#container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.eventBlock{

    width: 300px;
    height: 500px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background: rgb(235, 225, 234);
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .modal::before{
    content: '';
    border: 1px solid black;
    border-radius: 10px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
} */

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#ingredientsInput {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

button#submitEmail {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(98, 84, 103);
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
}

.error {
  color: red;
  font-size: 0.9rem;
}
