body{

    background-color: hotpink;

}
#main{

    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.actionDiv{

    width: 300px;
    height: 100px;
    background-color: lightpink;
    border: 3px solid black;
    border-radius: 10px;
    margin: 40px;
    text-align: center;


}
.actionDiv:hover{

}