body{

    background-color: hotpink;

}
#container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card{

    width: 300px;
    height: 900px;
    background-color: white;
    border: solid 3px black;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;


}
.innerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    /* position: relative; */
    padding: 10px;
}
.cardImg{

    width: 100%;
    height: 100%;
    object-fit: cover;


}
.imageContainer{

    width: 90%;
    height: 45%;
    justify-self: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;

}
#addBtn{

    width: 50px;
    height: 50px;
    border: 3px solid black;
    background-color:lightpink;
    border-radius: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    /* color: white; */
    /* text-align: center; */
    /* text-justify: center; */
    /* padding: 25px 0; */
    /* font-size: 43px; */
    /* display: inline-block; */


}
#addBtn::before{

    content: '+';
    position: relative;
    left: 7px;
    top: -20px;
    color: white;
    font-size: 64px
    

}

.imageInput{

    display: none;


}
#backBtn{

    position: fixed;
    top: 40px;
    left: 40px;
    width: 150px;
    height: 50px;
    background-color: white;
    font-family: 'cursive';
    border: 5px solid black;
    text-align: center;
    /* margin: auto; */
    /* padding: 70px 0; */
    font-size: 2rem;

}
.good{

    background-color: lightgreen;
    animation: fadein;
    animation-duration: 1s;
    position: fixed;
    left: 50%;
    bottom: 100px;
    padding: 10px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;

}
.bad{

    background-color: red;
    animation: fadein;
    animation-duration: 1s;
    position: fixed;
    left: 50%;
    bottom: 100px;
    padding: 10px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
}



@keyframes fadein{

    from {opacity: 0}

    to {opacity: 1}


}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background: rgb(235, 225, 234);
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .modal::before{
    content: '';
    border: 1px solid black;
    border-radius: 10px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
} */

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#ingredientsInput {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

button#submitEmail {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(98, 84, 103);
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
}

.error {
  color: red;
  font-size: 0.9rem;
}

label{

    padding: 5px;


}

button{


    padding: 5px;
    margin: 7px;

}

.seperationDiv{

    margin-bottom: 5px;


}
