
body{

    background-color: rgb(179, 150, 184);

}
#container{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.OrderDiv{

    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;

}

.title{

    font-size: 1.2rem;

}

.contact{
    font-size: 1.2rem;
}

.description{

    font-size: 1rem;
}

a {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #ffb6c1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #ff69b4;
}
