:root {

    --cardw1: 400px;

}


#body{

    background-color: rgb(236, 203, 229);
    margin: 0;

}

#title{
    
    text-align: center;
    font-family: 'Dynapuff', cursive;
    font-size: 3rem;

}

/* #container{

    display:flex;

    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 0px;
    flex-wrap: wrap;
    width: calc(100% - 2 * 20px);

} */

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.category_banner{

  /*width: max(700px , 70vw);*/
  width: 80%;
  grid-column: 1 / -1;
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  self-align: center;
  justify-self: center;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: 'Dynapuff', cursive;

}

.card{

    /* width: 350px; */
    width: min(700px, 80%);
    height: auto;
    background-color: white;
    /* border: solid 3px black; */
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 15px;
    font-family: 'Dynapuff', cursive;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);


}
@media (max-width: 1100px){

    .desc{

        font-size: 2rem !important;
    }
    .title{
        font-size: 2.3rem !important;
    }
    .notifyBtn{
        font-size: 2.3rem !important;
        height: auto !important;
    }
    .name{
        font-size: 3.3rem !important;
    }

}

.card::before{
    content: '';
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px solid black;
    position: absolute;
    border-radius: 10px;

}
.innerCard{

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
    height: 98%;
    align-items: center;
    padding: 10px;
}

a.back-link {

    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #ffb6c1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
    transition: background-color 0.3s;
}


.desc{

    border: 1px dashed black;
    overflow: hidden;
    width: auto;
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;

}
.name{

    text-decoration: underline;

}


.notifyBtn{

    background-color: lightpink;
    border: 2px dashed black;
    border-radius: 20px;
    font-size: 1.3rem;
    font-family: 'Dynapuff', cursive;
    padding: 5px;
    width: 93%;
    height: 50%;


}
.notifyBtn:hover{

    background-color: rgb(236, 203, 229) !important;
    cursor: pointer;

}
.notifyBtn:active{

    background-color: lightgreen !important;

}
/* .notifyBtn:last-of-type{

    margin-top: auto;

} */

.buttonContainer{

    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.buttonContainer:last-of-type{
    margin-top: auto;
}

.ingredientsBtn{

    background-color: lightpink;
    border: 2px dashed black;
    border-radius: 20px;
    font-size: 1.3rem;
    font-family: 'Dynapuff', cursive;
    padding: 5px;
    width: 90%;
    height: 40%;

}
.ingredientsBtn:hover{

    background-color: rgb(236, 203, 229) !important;
    cursor: pointer;

}
.ingredientsBtn:active{

    background-color: lightgreen !important;

}
/* .ingredientsBtn:last-of-type{

    margin-top: auto;

} */


.cardImg{

    width: 100%;
    height: 100%;
    object-fit: cover;


}
.imageContainer{

    width: 90%;
    height: 45%;
    justify-self: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;

}
/* .innerCard{

    background-color: white;
    height: calc(100% * 0.96);
    width: calc(100% * 0.96);
    border: 1px solid black;
    position: relative;
    left: 9px;
    top: 9px;
    
    
    
} */

#returnBox{

    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    border: 3px solid black;
    font-family: 'Dynapuff', cursive;
    font-size: 2rem;
    display: inline-block;
    padding: 10px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background: rgb(235, 225, 234);
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .modal::before{
    content: '';
    border: 1px solid black;
    border-radius: 10px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
} */

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

button#submitEmail {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(98, 84, 103);
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
}

.error {
  color: red;
  font-size: 0.9rem;
}
